/* Admin bar */
$admin-bar-background-colour: #666;
$admin-bar-foreground-colour: #fff;

/* Left bar */

$left-bar-background-colour: #0B173B;
$left-bar-foreground-colour: #fff;

$left-bar-icon-colour: #FF8000;
$left-bar-icon-hover-colour: #eee;
$left-bar-icon-active-colour: #ED7600;

/* Navigation bar */

$navigation-bar-background-colour: #fff;
$navigation-bar-foreground-colour: #666;
$navigation-cancel-background-colour: #FE2E2E;

/* Search */

$search-box-background-colour: lighten($left-bar-icon-active-colour, 8%);
