<aside class="inner-navigation">
  <ul>
    <li>
      <a href="{{page.host}}/manager/customers" class="app-navigation-button {{#if page.navigation.customers}} active {{/if}}">
        <i class="fa fa-shopping-cart fa-2x app-navigation-button-icon"></i>
        <span class="app-navigation-button-text">{{labels.customers}}</span>
      </a>
    </li>

  </ul>
</aside>
