<aside class="inner-navigation">
  <ul>
    <li>
      <a href="{{page.host}}/manager/users" class="app-navigation-button {{#if page.navigation.users}} active {{/if}}">
        <i class="fa fa-user fa-2x app-navigation-button-icon"></i>
        <span class="app-navigation-button-text">{{labels.users}}</span>
      </a>
    </li>

  </ul>
</aside>
