<div class="container margin-top-20">
  <section class="content-body">
    <h1 class="text-center">Winter is coming!</h1>
    <p class="text-center margin-top-20">
      <a href="{{page.host}}/{{page.language}}/news">{{labels.view_news}}</a>
    </p>
  </section>
</div>
