<div class="container margin-top-20">
  <section class="content-body">
    <h2 class="margin-top-10 margin-bottom-30">{{get_translation @root.data.page_translations page.language 'title'}}</h2>
    <p>
      {{get_translation @root.data.page_translations page.language 'content'}}
    </p>
  </section>
</div>
