{{> admin_bar}}
{{> flash}}

{{> page_hiddens}}

<nav class="container text-right padding-top-15">
  {{> language_selector}}
  <a href="{{page.host}}/{{page.language}}/login">{{labels.login}}</a>
</nav>
