.select-label {
  width: 200px;
}

.label {
  display: inline-block;
  padding: 8px 8px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 1.2em;
  font-weight: 400;
  color: #333;
  background-color: lighten($left-bar-icon-active-colour, 10%);
  border-radius: 0;

  &.small {
    padding: 6px 8px;
  }

  a {
    margin-left: 5px;
    color: darken($left-bar-icon-active-colour, 20%);
  }
}

.border-bottom {
  border-bottom: solid 1px #ccc;
}

.title-labels {
  font-size: 1.2em;
}

table {
  .td-number {
    color: #aaa;
    font-size: 2em;
    position: relative;
    top: -0.35em;
    font-weight: 300;
  }

  tr:nth-child(even) {
    background-color: #f4f4f4;
  }

  td {
    border: none !important;
  }
}

.table-multiline {
  display: block;
  width: 100%;
  overflow: hidden;

  thead, tbody, tr {
    display: block;
    width: 100%;
  }

  tr {
    overflow: hidden;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  td, th {
    display: block;
    float: left;
  }

  th {
    border-bottom-width: 1px !important;
  }

  thead > tr {
    padding-bottom: 0;
  }
}

.term-highlight {
  background-color: #F7D358;
  padding: 1px 0px;
}

.media-file {
  width: 100%;
}

.media-container {
  min-height: 400px;
}

.media-name {
  border: none;
  background-color: transparent;
  resize: none;
  width: 100%;
  text-align: center;
}

.media-header {
  ul {
    list-style: none;
    overflow: hidden;
    margin: 0 auto 1em auto;
    padding: 0;
    width: 80%;
    text-align: center;

    li {
      float: left;
      width: 50%;
    }
  }

  a {
    color: #888;
  }
}

.page-before, .page-after {
  display: inline-block;
  padding-top: 0;
  padding-left: 0;
  float: left;
  position: relative;
  top: -6px;
}

.page-after {
  padding-left: 3px;
  float: right;
}

.import-success {
  background-color: $success-colour;
  color: #fff;
  padding: 0.3em;
  border-radius: 50%;
}

.import-fail {
  background-color: $fail-colour;
  color: #fff;
  padding: 0.3em;
  border-radius: 50%;
}

.import-text {
  color: #777;
  font-size: 1.4em;
  font-weight: 300;
}

.status-equal {
  color: #aaa;
}

.status-deleted {
  color: darken($fail-colour, 20%);
}

.status-created {
  color: $new-colour;
}

.status-updated {
  color: $update-colour;
}

.result-legend {
  font-size: 0.8em;
}

.map {
  min-height: 400px;
}

.map-small {
  min-height: 170px;
}

.alert {
  border: none;
  border-radius: 0;
}

.line-through {
  text-decoration: line-through;
}
