.top-icon {
  margin-bottom: 2px;
}

.top-tab {

}

.top-nav-tabs {
  border: none;
  padding: 0 1em;

  li {
    width: 11.5%;
    padding-top: 0 !important;
  }

  :not(.active) {
    a {
      color: #ddd !important;

      .top-icon {
        color: #eee !important;
      }
    }

    a:hover {
      background-color: transparent !important;
      border-color: transparent !important;
      color: $left-bar-icon-active-colour !important;

      .top-icon {
        color: $left-bar-icon-active-colour !important;
      }
    }
  }

  .active {
    background-color: #fff;
    color: $left-bar-icon-active-colour;
    position: relative;
    bottom: -1px;

    a {
      margin-right: 0 !important;
      border: none !important;
      color: $left-bar-icon-active-colour !important;
      background-color: transparent !important;
    }

    .top-icon {
      color: $left-bar-icon-active-colour !important;
    }
  }
}

.dark-selector {
  background-color: transparent;
  color: #ddd;
  border-color: #888;
  background-image: url(../img/select_arrow_light.png) !important;
}

.language-selector {
  margin-top: 20px;
}
