.app-body {
  position: relative;
  height: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 240px;
}

.app-container {
  padding: 0;
  background-color: #fff;
  height: calc(100% - 119px);
  min-height: calc(100% - 119px);
  position: relative;
}

.user-session-bar {
  padding: 0.7em 1em;
  text-align: right;
}

.width-container {
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

.content-body {
  margin-top: 1em;
  padding: 0;
}

.page_title {
  margin: 0;
  font-size: 2.3em;
  color: $navigation-bar-foreground-colour;
  font-weight: 300;
}

.navigation-bar {
  padding: 0.5em 0;
  background-color: $navigation-bar-background-colour;
  text-align: right;
  margin-top: 0;
  overflow: hidden;
}

.btn {
  border-radius: 0;
}

.btn-default {
  border: 1px solid darken($navigation-bar-background-colour, 20%);
  background-color: darken($navigation-bar-background-colour, 20%);

  &:hover {
    background-color: $left-bar-icon-colour;
    border-color: $left-bar-icon-colour;
    color: #fff;
  }

  &:active:hover {
    background-color: darken($left-bar-icon-colour, 3%);
    border-color: darken($left-bar-icon-colour, 3%);
    border-top: 3px solid darken($left-bar-icon-colour, 10%);
    border-bottom: 0;
    color: #fff;
    box-shadow: none;
    padding-top: 5px;
  }
}

.btn-cancel {
  border: 1px solid #cacaca;
  background-color: transparent;

  &:hover {
    background-color: $navigation-cancel-background-colour;
    border-color: $navigation-cancel-background-colour;
    color: #fff;
  }

  &:active:hover {
    background-color: darken($navigation-cancel-background-colour, 15%);
    border-color: darken($navigation-cancel-background-colour, 15%);
    border-top: 3px solid darken($navigation-cancel-background-colour, 25%);
    border-bottom: 0;
    color: #fff;
    box-shadow: none;
    padding-top: 5px;
  }
}

.btn-blank {
  background-color: transparent;

  &:active:hover {
    box-shadow: none;
  }
}

.btn:focus {
  outline:0 !important;
}

.language-content {
  padding: 0 0.5em;
}

.return-back {
  line-height: 0.8em;
  margin-right: 0.4em;
}

.search-box {
  padding: 5px 0;
  background-color: darken($search-box-background-colour, 12%);

  input[type='text'] {
    background-color: darken($search-box-background-colour, 12%);
    color: #fff;

    &::-webkit-input-placeholder {
       color: $search-box-background-colour;
       font-weight: 300;
    }

    &:-moz-placeholder {
       color: $search-box-background-colour;
       font-weight: 300;
    }

    &::-moz-placeholder {
       color: $search-box-background-colour;
       font-weight: 300;
    }

    &:-ms-input-placeholder {
       color: $search-box-background-colour;
       font-weight: 300;
    }
  }

  .form-control {
    font-size: 1.5em;
    box-shadow: none;
  }

  i {
    font-size: 1.8em;
  }

  button {
    color: $search-box-background-colour;

    &:hover {
      color: #888;
    }

    &:active:hover {
      color: $left-bar-icon-colour;
    }
  }
}

.search-filter {
  position: relative;
  background-color: lighten($search-box-background-colour, 15%);
  color: darken($search-box-background-colour, 20%);
  padding: 0.5em 2.5em 0.5em 1em;
  margin-top: 1.2em;
  font-size: 1.2em;

  a {
    color: darken($search-box-background-colour, 20%);
    position: absolute;
    top: calc(50% - 13px);
    right: 16px;
  }
}

.pagination-selector {
  text-align: center;
  font-size: 1.5em;
  margin-top: 1em;
  overflow: hidden;
  padding-top: 0.5em;
  padding-bottom: 1em;
}

.pagination-page {
  padding: 0 0.6em;
  font-weight: 300;
  color: #888;
}

.pagination-link {
  &.disabled {
    color: #ccc;

    &:hover {
      cursor: default;
    }
  }

  &:hover, &:active, &:focus {
    text-decoration: none;
  }
}

.manager-header {
  background-color: #505050;
  padding: 0em 1em;
}

.search-form {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 25%;
  background-color: $search-box-background-colour;
  padding: 1.2em;
  color: #fff;
}

.search-padding {
  padding-right: 26.5%;
}
