<!DOCTYPE HTML>
<html>
  <head>
    {{> head_private}}
  </head>
  <body>
    <main class="app-body">
      {{> header_private}}
      <section class="app-container">
        {{@content}}
      </section>
    </main>
    {{> footer_private}}
  </body>
</html>
