<!DOCTYPE HTML>
<html>
  <head>
    {{> head_public}}
  </head>
  <body>
    <main class="app-body">
      {{> header_public}}
      <section class="app-container">
        {{@content}}
      </section>
    </main>
    {{> footer_public}}
  </body>
</html>
