<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="{{page.web}}/css/public.css" />
  </head>
  <body>
    {{> flash}}
    <nav>
      <a href="{{page.host}}/logout">Cerrar sesión</a>
    </nav>
    <h1>Login</h1>
    <form method="POST" action="{{page.host}}/login">
      <label for="user"></label>
      <input type="text" class="" name="user" placeholder="" />
      <label for="password"></label>
      <input type="password" class="" name="password" placeholder="" />
      <input type="submit" value="Send" />
    </form>
  </body>
</html>
